/* Fonts */
/*
Punk Kid font by Chris Hansen.

urban_ninja4real@hotmail.com
*/
@font-face {
    font-family: punkKid;
    src: url('../fonts/punk_kid.ttf');
}

body {
    color: #898476;
	width: 100%;
    min-height: 90vh;
	margin: auto;
	background-image: url('../images/lost-places-1510592.jpg');
	background-size: cover;
	background-repeat: no-repeat;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
html {
    min-height: 90vh;
    width: 100%;
}
nav {
    border-radius: 3px;
	background-color: #000000;
    opacity: .8;
	display: block;
	max-width: 1280px;
	width: 100%;
	margin: auto;
	height: 50px;
	font-size: 25px;
	font-family: "Courier New", Courier, monospace;
}
nav .right {
	float: right;
}
nav a {
	margin: 0 10px 0 10px;
	line-height: 50px;
	display: inline-block;
	height: 50px;
}
main {
	max-width: 1280px;
	width: 100%;
    min-height: 85.1vh;
	margin: auto;
	margin-top: 20px;
}
h1, h2 {
	font-family: punkKid, Helvetica;
    color: #424440;
	letter-spacing: 2px;
	font-size: 50px;
	margin: 10px;
	text-align: center;
}
.nav-links:link {
	text-decoration: none;
	color: #FFFFFC;
}
.nav-links:visited {
	text-decoration: none;
	color: #FFFFFC;
}
.nav-links:hover {
	text-decoration: none;
	color: #FF7F11;
	background-color: #FFFFFC;
}
.nav-links:active {
	text-decoration: none;
	color: #FF1B1C;
}
a:link {
    text-decoration: none;
    color: #FF1B1C;
}
a:visited {
    text-decoration: none;
    color: #FF1B1C;
}
a:hover {
    text-decoration: none;
    color: inherit;
}
a:active {
    text-decoration: none;
}
#amazon {
    background-image: url("../images/Amazon-logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: transparent;
    -webkit-user-select: none;
}
p {
	width: 90%;
	margin: auto;
	margin-top: 20px;
	font-size: 17px;
	padding: 10px;
    font-weight: 200;
	font-family: "Arial Black", Gadget, sans-serif;
}
ul li {
	font-size: 20px;
	margin-left: 5%;
    font: "Courier New", Courier, monospace;
}
section {
    border-radius: 3px;
	background-color: #FFFFFC;
	max-width: 1280px;
	width: 100%;
	margin: auto;
	padding-top: 30px;
	padding-bottom: 30px;
}
#supplies {
	background-color: rgba(0,0,0, .9);
	color: #FFFFFC;
}
table {
	width: 90%;
	margin: auto;
    border-top: solid 1px #d1d1e0;
}
td, th{
	border-bottom: solid 1px #d1d1e0;
	padding-top: 10px;
	padding-bottom: 10px;
}
h2 {
	font-size: 25px;
	margin-bottom: 30px;
    color: #FFFFFC;
}
footer {
	background-color: black;
	max-width: 1280px;
    margin: auto;
    margin-top: 30px;
	text-align: center;
    height: 20px;
    color: white;
}
small {
    color: #FF1B1C;
    display: block;
    padding-top: 1px;
    font-size: 15px;
    background-color: black;
}
small a:link {
    color: white;
}
small a:visited {
    color: white;
}
small a:hover {
    color: red;
}
small a:active {
    
}
h3 {
	font-size: 20px;
	margin-left: 5%;
}
ul {
    list-style: none;
    display: inline-block;
}
.orange {
    color: #FF7F11;
}
.full-height {
    min-height: 70vh;
}

/* Gallery image styling */

.gallery-img {
    box-sizing: border-box;
    border-radius: 5px;
    max-width: 250px;
    margin: 20px;
    display: inline-block;
    box-shadow: 5px 5px 5px rgba(0,0,0,.5);
}
div.gallery {
    display: block;
    margin: auto;
    padding: 2%;
}
.gallery-img:hover {
    border: solid 2px #FF7F11;
}

label, input, textarea, button, select {
    display: block;
    max-width: 450px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin: auto;
    border-radius: 3px;
    box-sizing: border-box;
    padding-left: 10px;
}
option,select {
    background-color: white;
}
label, button {
    background-color: black;
    color: #FF7F11;
    border: solid 1px black;
}
input, textarea, select {
    border: solid 1px #FF7F11;
}
input:active {
    border: solid 1px blue;
}
textarea {
    resize: vertical;
    line-height: 15px;
}
#contactId {
    box-sizing: border-box;
    display: block;
    max-width: 500px;
    width: 100%;
    margin-left: 10px;
    padding: 20px;
}
button:hover {
    background-color: #FF7F11;
    color: black;
    border: 1px solid #FF7F11;
}
.tutorials li {
    margin-top: 20px;   
}
#home-image {
    width: 400px;
    display: inline-block;
}
input:focus, textarea:focus, select:focus {
  box-shadow: 0 0 7px #FF7F11;
  border: 1px solid #FF7F11;
}


@media only screen and (max-width: 540px){
    nav {
        height: 200px;
        text-align: center;
    }
    nav a {
        display: block;
        width: 100%;
        margin: auto;
    }
    .right {
        display: block;
        width: 100%;
        margin: auto;
    }
    .gallery-img {
        display: block;
        width: 100%;
        margin: auto;
        margin-bottom: 30px;
    }
}